# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.pytest_cache/

# Env
.env

# Node
node_modules/
dist/
build/

# ML
*.pkl
*.joblib
*.h5
mlruns/

# Logs
*.log

# IDE/OS
.vscode/
.idea/
.DS_Store

ml/data/raw/
ml/data/*.csv
